<ViewContextSwitcher OnViewContextChangedCallback="@OnViewContextContextChanged">
    @ChildContent
</ViewContextSwitcher>

<InspectorView>
    <MainView>
        <CascadingValue Name="ContainerClasses" Value="@collapse">
            @(GetMainView()?.MainView)
        </CascadingValue>
    </MainView>
    <Widgets>
        @(GetMainView()?.Widgets)
    </Widgets>
    <Details>
        @foreach (IViewContext alternativeView in GetAlternativeViews())
        {
            <CascadingValue Name="ContainerClasses" Value="@IsNewContext(alternativeView)">
                <CascadingValue Name="Key" Value="alternativeView">
                    @(alternativeView.AlternativeView)
                </CascadingValue>
            </CascadingValue>
        }
        <div>
            More content
        </div>
    </Details>
</InspectorView>